In [50]:
import pandas as pd
import numpy as np

In [3]:
investors=pd.read_csv("C:\\Users\\desai\\Downloads\\9,000  Investors - 9,000+ Investors.csv")

In [4]:
investors.head(10)

,Firm,Website,Description,Contact,Phone Number,Title,Email,Total Investments,Active Investments,Dry Powder,...,Preferred Sectors,Preferred Investment Size,Preferred Transaction Sizes,Preferences,Date of Last Fund Closed,AUM,Type,HQ,CSDP Target,LinkedIn URL
0,Techstars,www.techstars.com,Techstars is a mentorship-driven seed stage in...,David Cohen,+1 (408) 524-1400,"Co-Founder, Co-Chief Executive Officer & Board...",david.cohen@techstars.com,502.0,132.0,120.07,...,"Beverages, Computer Hardware, Education and Tr...","Accelerator/Incubator, Convertible Debt, Early...",0.10 - 0.20,NaN,11/17/2016,300,Accelerator/Incubator,"Boulder, CO",Target 2,NaN
1,Y Combinator,www.ycombinator.com,Y Combinator is an accelerator that provides s...,Trevor Blackwell,NaN,Co-Founder & Partner,trevor@ycombinator.com,535.0,250.0,0.96,...,Software,"Accelerator/Incubator, Early Stage VC, Later S...",0.12,NaN,10/16/2015,772.8,Accelerator/Incubator,"Mountain View, CA",Target 2,NaN
2,Plug and Play Tech Center,www.plugandplaytechcenter.com,Plug and Play is a global accelerator that spe...,Marc Steiner,+1 (650) 614-4800,General Counsel,marc@plugandplaytechcenter.com,411.0,73.0,0,...,Software,NaN,0.03 - 0.50,NaN,NaN,NaN,Accelerator/Incubator,"Sunnyvale, CA",Target 2,NaN
3,Microsoft Accelerator,www.microsoftaccelerator.com,Microsoft Accelerator is an accelerator that p...,Amir Pinchas,NaN,"Principal, Head of Operations and Portfolio & ...",amir.pinchas@microsoftventures.com,391.0,58.0,NaN,...,Software,"Accelerator/Incubator, Early Stage VC, Later S...",0.05 - 0.30,NaN,NaN,NaN,Accelerator/Incubator,"Seattle, WA",NaN,NaN
4,Accel,www.accel.com,"Accel is a Palo Alto, California based venture...",Anne Rockhold,+1 (301) 272-2300,Chief Financial Officer,arockhold@accel.com,200.0,186.0,"4,806.77",...,"Commercial Products, Commercial Services, Comm...",NaN,1.00 - 30.00,NaN,11/30/2016,"10,806.40",Venture Capital,"Palo Alto, CA",Target 2,NaN
5,Andreessen Horowitz,www.a16z.com,Andreessen Horowitz is a venture capital firm ...,Marc L. Andreessen,+1 (415) 512-7553,Co-Founder & General Partner,ma@a16z.com,157.0,78.0,"1,220.38",...,"Healthcare Technology Systems, Software","Early Stage VC, Later Stage VC, Seed Round",0.01 - 100.00,NaN,6/10/2016,"6,314.80",Venture Capital,"Menlo Park, CA",Target 2,NaN
6,New Enterprise Associates,www.nea.com,New Enterprise Associates is a venture capital...,Tim Schaller,NaN,Chief Financial Officer,tschaller@nea.com,173.0,193.0,"2,004.63",...,"Commercial Services, Communications and Networ...","Early Stage VC, Later Stage VC, PE Growth/Expa...",0.05 - 20.00,NaN,4/15/2015,"10,850.00",Venture Capital,"Chevy Chase, MD",Target 2,NaN
7,SV Angel,www.svangel.com,"SV Angel is a San Francisco, California based ...",Brian Pokorny,+1 (415) 655-4965,General Partner,brian@svangel.com,232.0,196.0,88.07,...,Software,"Early Stage VC, Later Stage VC, Merger/Acquisi...",NaN,NaN,11/22/2016,232.8,Venture Capital,"San Francisco, CA",Target 2,NaN
8,GV,www.gv.com,GV is the corporate venture capital arm of Alp...,Jodi Olson,+1 (650) 853-7000,Communications Partner,jodi@gv.com,135.0,86.0,148.49,...,Software,NaN,0.25 - 50.00,NaN,10/22/2015,"2,400.00",Corporate Venture Capital,"Mountain View, CA",Target 2,NaN
9,Right Side Capital Management,www.rightsidecapital.com,Right Side Capital Management is a San Francis...,Dave S. Lambert,+1 (650) 854-3927,Founder & Managing Director,dave@rightsidecapital.com,198.0,25.0,0,...,"Services (Non-Financial), Software","Early Stage VC, Later Stage VC, Seed Round",0.03 - 0.20,NaN,12/31/2012,NaN,Venture Capital,"San Francisco, CA",Target 2,NaN

In [33]:
investors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7880 entries, 0 to 8101
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Firm                         7880 non-null   object
 1   Website                      3014 non-null   object
 2   Description                  7738 non-null   object
 3   Contact                      6858 non-null   object
 4   Phone Number                 4786 non-null   object
 5   Title                        6858 non-null   object
 6   Email                        5000 non-null   object
 7   Total Investments            7218 non-null   float64
 8   Active Investments           3591 non-null   float64
 9   Dry Powder                   1092 non-null   object
 10  Notes                        5930 non-null   object
 11  Notes 2                      3631 non-null   object
 12  Preferred Sectors            7880 non-null   object
 13  Preferred Investment Size    2972 non-null   object
 14  Preferred Transaction Sizes  1201 non-null   object
 15  Preferences                  189 non-null    object
 16  Date of Last Fund Closed     818 non-null    object
 17  AUM                          965 non-null    object
 18  Type                         7880 non-null   object
 19  HQ                           7853 non-null   object
 20  CSDP Target                  5761 non-null   object
 21  LinkedIn URL                 0 non-null      float64
dtypes: float64(3), object(19)
memory usage: 1.4+ MB

In [37]:
investors.describe()

       Total Investments  Active Investments  LinkedIn URL
count        7218.000000         3591.000000           0.0
mean            6.410917            6.665553           NaN
std            16.553185           15.244629           NaN
min             1.000000            1.000000           NaN
25%             1.000000            1.000000           NaN
50%             2.000000            2.000000           NaN
75%             6.000000            6.000000           NaN
max           535.000000          269.000000           NaN

# filtering investors on preferred sectors with Software,IT,Information Technology,Internet Service Providers

In [22]:
software_filt=investors["Preferred Sectors"].str.contains("Software")

In [23]:
IT_filt=investors["Preferred Sectors"].str.contains( "IT")

In [24]:
Information_filt=investors["Preferred Sectors"].str.contains("Information Technology")

In [30]:
Internet_filt = investors["Preferred Sectors"].str.contains("Internet Service Providers")

In [32]:
investors=investors[software_filt | IT_filt | Information_filt|Internet_filt]

# Filtering investors seeking new investments or who consider new projects

In [38]:
investors["Notes"].value_counts()

Actively Seeking New Investments                     5763
Out of Business                                       102
Not Making New Investments                             38
Fully Invested, No Longer Seeking New Investments       9
Acquired/Merged (Operating Subsidiary)                  7
Acquired/Merged                                         6
Will Consider New Projects                              3
Reducing Investment Activity                            2
Name: Notes, dtype: int64

In [45]:
investor_filt_1=investors["Notes"].str.contains("Actively Seeking New Investments")

In [46]:
investor_filt_2=investors["Notes"].str.contains("Will Consider New Projects")

In [48]:
investors=investors[investor_filt_1 | investor_filt_2]

# Filtering out investors who are missing both the Preferred Investment Size and Preferred Transaction Sizes

In [57]:
mask=(pd.isna(investors["Preferred Investment Size"])) & (pd.isna(investors["Preferred Transaction Sizes"]))

In [60]:
investors=investors[~mask]

In [62]:
sum(pd.isna(investors["Preferred Transaction Sizes"]))

1999

In [63]:
sum(pd.isna(investors["Preferred Investment Size"]))

289

# Typical seed round fundings for startups is from 3 million USD to 6 million USD,taking the estimated seed funding to be approx 3 million USD, therefore the missing Preferred Transaction Sizes with 3(units in million USD)

In [66]:
investors["Preferred Transaction Sizes"].fillna('3',inplace=True)

In [70]:
sum(pd.isna(investors["Preferred Transaction Sizes"]))

0

In [177]:
investments=investors["Preferred Transaction Sizes"].str.split(pat='-',expand=True)

In [178]:
investments.rename(columns={0: "investment_1(millions USD)", 1: "investment_2(millions USD)"},inplace=True)

 # Removing white spaces if any

In [179]:
investments["investment_1(millions USD)"]=investments["investment_1(millions USD)"].str.strip()

In [180]:
investments["investment_2(millions USD)"]=investments["investment_2(millions USD)"].str.strip()

# Replacing None with NaN's and finally replacing it with zero since we are interested in the average of the investment range

In [181]:
investments["investment_2(millions USD)"].replace(to_replace=[None], value=np.nan,inplace=True)

In [182]:
investments.fillna("0",inplace=True)

In [183]:
investments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3140 entries, 0 to 8100
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   investment_1(millions USD)  3140 non-null   object
 1   investment_2(millions USD)  3140 non-null   object
dtypes: object(2)
memory usage: 73.6+ KB

In [194]:
investments["investment_1(millions USD)"].astype(str).str.replace(',', '')

0        0.1
1       0.12
2       0.03
3       0.05
4        1.0
        ...
8090     3.0
8095     3.0
8097     3.0
8098     0.5
8100     3.0
Name: investment_1(millions USD), Length: 3140, dtype: object

In [188]:
investments.head(100)

    investment_1(millions USD) investment_2(millions USD)
0                         0.10                       0.20
1                         0.12                          0
2                         0.03                       0.50
3                         0.05                       0.30
4                         1.00                      30.00
..                         ...                        ...
107                       0.03                          0
108                       3.00                      30.00
109                       0.20                       0.60
110                       0.10                       3.50
111                          3                          0

[100 rows x 2 columns]

In [195]:
for col in investments.columns:
    investments[col]=investments[col].astype(str).str.replace(',', '').astype("float64")

In [197]:
investments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3140 entries, 0 to 8100
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   investment_1(millions USD)  3140 non-null   float64
 1   investment_2(millions USD)  3140 non-null   float64
dtypes: float64(2)
memory usage: 73.6 KB

In [199]:
investments["average_investments(USD millions)"]=investments.mean(axis=1)

In [200]:
investments

,investment_1(millions USD),investment_2(millions USD),average_investments(USD millions)
0,0.10,0.2,0.150
1,0.12,0.0,0.060
2,0.03,0.5,0.265
3,0.05,0.3,0.175
4,1.00,30.0,15.500
...,...,...,...
8090,3.00,0.0,1.500
8095,3.00,0.0,1.500
8097,3.00,0.0,1.500
8098,0.50,2.0,1.250
8100,3.00,0.0,1.500

In [202]:
investors=pd.concat([investors,investments["average_investments(USD millions)"]],axis=1)

In [203]:
investors.drop(["Preferred Transaction Sizes"],axis=1,inplace=True)

In [223]:
investors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3140 entries, 0 to 8100
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Firm                               3140 non-null   object
 1   Website                            2161 non-null   object
 2   Description                        3139 non-null   object
 3   Contact                            2828 non-null   object
 4   Phone Number                       1942 non-null   object
 5   Title                              2828 non-null   object
 6   Email                              2217 non-null   object
 7   Total Investments                  3061 non-null   float64
 8   Active Investments                 2122 non-null   float64
 9   Dry Powder                         971 non-null    object
 10  Notes                              3140 non-null   object
 11  Notes 2                            2972 non-null   object
 12  Preferred Sectors                  3140 non-null   object
 13  Preferred Investment Size          2851 non-null   object
 14  Preferences                        176 non-null    object
 15  Date of Last Fund Closed           728 non-null    object
 16  AUM                                883 non-null    object
 17  Type                               3140 non-null   object
 18  HQ                                 3137 non-null   object
 19  CSDP Target                        3135 non-null   object
 20  LinkedIn URL                       0 non-null      float64
 21  average_investments(USD millions)  3140 non-null   float64
dtypes: float64(4), object(18)
memory usage: 564.2+ KB

# Filtering investors with average investments valued at least 250K USD and with at least 6 investments

In [226]:
investors=investors[(investors["average_investments(USD millions)"]>0.25) & (investors["Total Investments"]>6)]

# AUM = "Assets Under Management" is the size of the portfolio the investor manages

# "Dry Power" is the money in the fund left to invest. Units: Billions USD.

# Sorting the investors with the maximum money to invest aka Dry Powder and maximum assets under their portfolio.

In [229]:
investors=investors.sort_values(["Dry Powder", "AUM"], ascending = (False, False))

In [233]:
investors=investors.reset_index(drop=True)

In [235]:
top_500_investors=investors.loc[:500,:]

In [236]:
top_500_investors.to_csv("top_500_investors.csv")